***ITEM 4: Piloto con mayor cantidad de puntos en total, cuyo constructor sea de nacionalidad sea American o British***

In [42]:
import pandas as pd
import numpy as np

In [43]:
# levantamos los json pertinentes:
df_results = pd.read_json(r'C:\Users\aalbe\OneDrive\Escritorio\PI01_DATA02\Datasets/results.json')
df_drivers = pd.read_json(r'C:\Users\aalbe\OneDrive\Escritorio\PI01_DATA02\Datasets/drivers.json')
df_constructors = pd.read_json(r'C:\Users\aalbe\OneDrive\Escritorio\PI01_DATA02\Datasets/constructors.json')

In [44]:
df_constructors

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso
...,...,...,...,...,...
206,209,manor,Manor Marussia,British,http://en.wikipedia.org/wiki/Manor_Motorsport
207,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
208,211,racing_point,Racing Point,British,http://en.wikipedia.org/wiki/Racing_Point_F1_Team
209,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
210,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team

In [45]:
df_results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.3,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24955,24961,1047,841,51,99,14,16,16,16,0.0,54,\N,\N,29,7,1:41.675,196.65,11
24956,24962,1047,849,3,6,18,17,17,17,0.0,54,\N,\N,49,16,1:42.497,195.073,11
24957,24963,1047,825,210,20,20,18,18,18,0.0,54,\N,\N,50,13,1:41.999,196.025,11
24958,24964,1047,850,210,51,17,19,19,19,0.0,53,\N,\N,50,8,1:41.707,196.588,12
24959,24965,1047,815,211,11,19,\N,R,20,0.0,8,\N,\N,6,19,1:43.263,193.625,7

In [46]:
results_y_constructors = pd.merge(df_results, df_constructors, on = 'constructorId')

In [47]:
# mÃ¡scara que filtra el df mergeado para obtener sÃ³lo constructors british o american
british_o_american = results_y_constructors['nationality'].isin(['British','American'])

In [48]:
# el conductor con driverId = 18 tiene mayor cantidad de puntos, con un total de 222 puntos.
results_y_constructors[british_o_american].groupby('driverId')['points'].count().sort_values(ascending = False)

driverId
18     222
119    209
289    179
137    175
14     175
      ...
634      1
635      1
636      1
637      1
851      1
Name: points, Length: 628, dtype: int64

In [49]:
df_results_y_constructors = pd.DataFrame(results_y_constructors[british_o_american].groupby('driverId')['points'].count().sort_values(ascending = False))

In [50]:
df_results_y_constructors.reset_index(inplace = True)

In [51]:
df_results_y_constructors['points'][0]

222

In [52]:
drivers_y_df_results_y_constructors = pd.merge(df_results_y_constructors, df_drivers, on = 'driverId')

In [56]:
piloto_mas_puntos = drivers_y_df_results_y_constructors['points'] == drivers_y_df_results_y_constructors['points'].max()

In [57]:
drivers_y_df_results_y_constructors['name'][piloto_mas_puntos].to_string(index = False)

'Jenson Button'